.grid {
	
	overflow:hidden;
	width:100%;
	max-width:620px;
	position:relative;
	
	
	padding:40px 40px 20px 5px;

	.row {
		width:100%;
		display: table;
		border-collapse:separate;
		border-spacing:2px 1px;
	}
	.switch {
		position:relative;
		display: table-cell;
		width:11%;
		background-color:#eaeaea;
		float:none;
		

		//min-height: 1px;
		&.none {
			background-color:transparent;
		}

		h4 {
			
			visibility: hidden;
			pointer-events: none;

			@include fs-header(1);
			font-size:13px;
			line-height: 14px;
			margin:0;
			padding:0;
			position: absolute;
			width:150%;
			height:100px;
			margin-top:-100px;
			display: table;

			span {
				display: table-cell;
				vertical-align: bottom;
			}
			
		}
		h4:after { /* trick to add bottom padding */
			content: '';
			display: block;
			height: 0px; 
		}
	}
	
}