.grid {
	
	overflow:hidden;
	width:100%;
	max-width:620px;
	position:relative;
	.row {
		width:100%;
		display: table;
		border-collapse:separate;
		border-spacing:2px 1px;
	}
	.switch {
		position:relative;
		display: table-cell;
		width:11%;
		background-color:#eaeaea;
		float:none;
		

		//min-height: 1px;
		&.none {
			background-color:transparent;
		}

		h4 {
			position:absolute;
			top:5px;
			left:5px;
			font-size:10px;
		}
	}
	
}