.switch {
	
	.stretch {
		width: 100%;
		//padding-bottom: 100%;
	}

	&:not(.inactive).hover {
		z-index:9999;

		opacity: 1;

		h4 {
			visibility: visible;
		}
		div.labels {
			visibility: visible;
		}
	}
	@include mq(frame) {
		&:not(.inactive):hover {
			z-index:9999;

			opacity: 1;

			h4 {
				visibility: visible;
			}
			div.labels {
				visibility: visible;
			}
		}
	}
	


	div.labels{
		
		visibility: hidden;

		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		overflow: visible;
		pointer-events: none;

		@include fs-textSans(1);
		color:#000;
		span.label {
			overflow: visible;
			position:absolute;
			&.left {
				left:-100px;
				width:100px;
				text-align: right;
				margin-right:2px;
			}
			&.right {
				left:100%;
				width:200px;
				text-align: left;
				margin-left:2px;
			}
			b {
				font-style: normal;
			}
			i {
				display: none;
				font-style: normal;
			}
			@include mq(frame) {
				i {
					display: inline;
				}		
			}
			
		}
	}
	svg {
		position: absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;

		g.lines {
			g.line {
				line {
					stroke-width:2;
					stroke:#333;
				}
				path {
					fill-opacity:0.8;
					stroke:none;
				}
				&.Con {
					line {
						stroke:$con;
					}
					path {
						//stroke:$con;
						fill:$con;
					}
				}
				&.Lab {
					line {
						stroke:$lab;
					}
					path {
						//stroke:$lab;
						fill:$lab;
					}
				}
				&.SNP {
					line {
						stroke:$snp;
					}
					path {
						//stroke:$snp;
						fill:$snp;
					}
				}
				&.LD {
					line {
						stroke:$ld;
					}
					path {
						//stroke:$snp;
						fill:$ld;
					}
				}
				&.Green {
					line {
						stroke:$green;
					}
					path {
						fill:$green;
					}
				}
			}
		}

	}
}