@import "fonts";
@import "mq";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {

	position: relative;
	
	max-width:320px;
	@include mq(frame) {
		max-width: 520px;
	}	
}

.interactive-container {

	position: relative;

	min-height:10px;

	max-width:320px;
	@include mq(frame) {
		max-width: 520px;
	}

	@import "palette";
	@import "grid";
	@import "legend";
	@import "switch";

	img.scotland-map {
		height:100px;
		position: absolute;
		top:5px;
		right:10px;

		@include mq(frame) {
			top:45px;
			height:170px;
			right:40px;
		}
	}
}
