@import "fonts";
@import "mq";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-container {

	min-height:10px;



	@import "palette";
	@import "grid";
	@import "legend";
	@import "switch";

	img.scotland-map {
		height:120px;
		position: absolute;
		top:5px;
		right:20px;

		@include mq(frame) {
			top:45px;
			height:170px;
			right:40px;
		}
	}
}
