@import "fonts";
@import "mq";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}


.interactive-container {
	@import "palette";
	@import "grid";
	@import "overall";
	@import "switch";
}
